body{
    height: 100vh;
    width: 100vw;
    background-image: url(../images/background-image_alt.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.heading{
    text-align: center;

}
.recipes {
    text-align: center;
  
}

h1{
 
    font-weight: lighter;
    font-variant: small-caps;
  

}
.button{
    border-radius: 25px;
    background-color: white;
}
p {
    padding: 5px 15px;
    font-size: 20px;
    margin: 0%;
    font-weight: lighter;
    font-variant: petite-caps;
}





